@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron&family=Special+Elite&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --olive: rgba(95, 103, 105);
    --linen: rgb(241, 239, 233);
    --drk-grey: rgb(60, 66, 69);
    --sand: rgba(135, 100, 69, .75);
    --incorrect: rgba(174, 67, 30, .85);
    --correct: rgba(86, 97, 83, .85);
}

.timer-top {
    color: var(--linen);
    font-size: 10px;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 16px 0 1px;
    border: 1px solid var(--linen);
    border-radius: 50%;
    text-align: center;
}

.body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--olive);
}

.question, .quiz-complete {
    color: var(--drk-grey)
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: var(--linen);
    border-radius: 5px;
    padding: 10px;
    margin: 0 30px;
    box-shadow: 0 0 5px 1px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid var(--olive);
    background-color: var(--sand);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
    opacity: 50%;
}

.btn.correct {
    background-color: var(--correct);
}

.btn.wrong {
    background-color: var(--incorrect);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.end-game-container {
    line-height: 3rem;
    padding: 15px;
    text-align: center;
}

.input {
    
}